:root {
  --primary-color: #000;
  --bright-blue: #c3f4f7;
  --dark-color: #4f6367;
  --light-color: #fcf6e3;
  --dark-brown: #866959;
  --coffee-brown: #cabea9;
  --red-color: #fe5f55;
  --med-color: #7a9e9f;
  --pastel-blue: #e4f1ff;
  --pastel-orange: #fed9ba;
  --pastel-pink: #fff4f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mali", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

/* Header */
header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 1rem 3rem;
  align-items: center;
  background: var(--dark-color);
  /* border-bottom: solid 5px var(--dark-brown); */
}
header::after,
header::before {
  content: "";
  position: absolute;
  width: 65%;
  height: 5px;
  bottom: 0;
  right: 0;
  background: var(--bright-blue);
}

header::before {
  width: 50%;
  bottom: 5px;
  background: var(--red-color);
}

header .logo {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  flex: 1;
  transform: translateX(-100rem);
  -webkit-animation: slideIn 0.6s forwards;
  animation: slideIn 0.6s forwards;
}

header .logo a {
  color: var(--light-color);
}

.logo span {
  border-bottom: 3px solid var(--light-color);
  border-top: 3px solid var(--light-color);
}

.hamburger {
  display: none;
}

header .nav {
  justify-content: flex-end;
}

header .nav ul {
  display: flex;
}

header .nav ul li {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  transform: translateX(100rem);
  -webkit-animation: slideIn 0.6s forwards;
  animation: slideIn 0.6s forwards;
}

header .nav ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
header .nav ul li:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
header .nav ul li:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
header .nav ul li:nth-child(4) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

header .nav ul li a {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: var(--light-color);
  padding: 0.4rem 0;
  font-size: 1.2rem;
}

header .nav ul li a::before,
header .nav ul li a::after {
  position: absolute;
  content: "";
  background: var(--dark-brown);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

header .nav ul li a::after {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  transform-origin: left;
}

header .nav ul li a:hover::before,
header .nav ul li a:hover::after {
  transform: scaleX(1);
}

/* Hero Section */
.hero {
  background: url(img/pexels-madison-inouye-1405761.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  line-height: 1.5;
}

.hero-inner {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1;
}

.hero-content {
  font-family: "Alex Brush", cursive;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

.hero-content span {
  color: var(--dark-brown);
  font-size: 4rem;
}

.hero-logo {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

.hero-logo span {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

/* Boxes */
.boxes {
  width: 100%;
  margin: 5rem 0;
  padding-top: 4rem;
}
.boxes-wrapper {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.box {
  /* margin: 0.5rem; */
  background: var(--coffee-brown);
  border: 15px white solid;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1), -5px 5px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 3rem 0;
  color: var(--dark-color);
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.box.hours {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(./img/pexels-walder-2756804.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
  color: var(--light-color);
}

.box.bg-img {
  background: url(./img/pexels-picjumbocom-196651.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
}

.box i {
  font-size: 3.5rem;
  color: var(--light-color);
  margin-top: 0.5rem;
}

.deliverie i {
  margin-top: 0;
}

.hours h2 {
  color: var(--bright-blue);
  font-weight: 400;
  display: inline-block;
  border-bottom: 2px solid var(--red-color);
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.box a {
  color: var(--light-color);
  border: 2px solid var(--red-color);
  background: var(--red-color);
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
}

.box a:hover {
  background: #d86d6db7;
}

.pickup h3 {
  margin: 0.5rem 0 0.7rem 0;
}

.deliverie p {
  margin-bottom: 0.5rem;
}

/* Menu */
.menu-title {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Alex Brush", cursive;
  color: #866959;
}

.menu-title::first-letter {
  font-size: 4rem;
  color: #4f6367;
}
.menu-content {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding-top: 1rem;
  color: var(--dark-brown);
}

.menu-content > div {
  flex-basis: 50%;
  background: var(--pastel-blue);
  margin: 0 1rem;
  padding: 1rem 2rem;
  border: var(--med-color) 3px dotted;
  border-radius: 1rem;
}

.menu-content > div:last-child {
  background: var(--pastel-pink);
  border: #ff9b9b 3px dotted;
}
.menu-content > div h3 {
  font-family: "Alex Brush", cursive;
  text-align: center;
  padding: 1rem 0;
  color: var(--dark-color);
  font-size: 2rem;
}
.menu-content > div > div {
  display: flex;
  flex-direction: column;
}

.menu-content > div > div > div {
  display: flex;
  margin: 0.6rem 0;
}

.menu-content > div > div > div p:nth-child(1) {
  flex: 1;
}

/* Contact */
.contact {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  color: var(--dark-brown);
}

.social ul {
  margin: 1rem 0;
  display: flex;
}

.social ul li {
  margin: 0 0.5rem;
}

.social ul li a {
  color: var(--dark-color);
}

.bx-border-circle {
  border-color: var(--red-color);
  border-width: 2px;
  background: var(--bright-blue);
}

/* Media Queries */
@media (max-width: 650px) {
  .hero {
    background-attachment: scroll;
  }
  .hamburger {
    display: block;
    font-size: 1.5rem;
    z-index: 5;
    color: var(--light-color);
    cursor: pointer;
    transform: translateX(100rem);
    -webkit-animation: slideIn 0.6s forwards;
    animation: slideIn 0.6s forwards;
  }

  .fa-times {
    display: none;
  }

  header {
    padding: 1rem 2rem;
  }

  header::before {
    width: 40%;
  }

  header::after {
    width: 50%;
  }

  header .logo {
    font-size: 1.5rem;
    z-index: 10;
  }

  header .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5;
  }

  header .nav ul {
    position: absolute;
    flex-direction: column;
    width: 200vw;
    height: 200vw;
    border-radius: 50%;
    background: #4b565ade;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 0.6s ease-in-out;
  }

  header .nav ul li {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.4s;
  }

  .open .nav ul {
    transform: scale(1);
  }

  .open .nav ul li {
    opacity: 1;
  }

  .boxes-wrapper {
    width: 75%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .menu-content {
    flex-direction: column;
  }

  .menu-content > div {
    margin: 1rem 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
  }

  100% {
    transform: translateX(0);
  }
}
